.AdditionalMolecules {
  margin-left: 30px;
  margin-top: 20px;
}

.additional {
  width: 291px;
  height: 91px;
  background: #EDEEF0;
  border-radius: 6px;
  border: none;
  padding: 12px;
  margin-top: 12px;
  resize: none;
}

.additional::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #B0B0B0;
}

.additional:focus {
  outline: none;
}

.Button {
  width: 315px;
  height: 49px;
  margin-left: 30px;
  margin-top: 55px;
  border: none;
  color: white;
  border-radius: 6px;
  background: linear-gradient(272.03deg, #50A0E0 34.58%, #A4D4FA 97.7%);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}